
<style type="text/css">
* {box-sizing: border-box;}
 	@media (min-width: 1200px) {
 		body {background: #F5F5F5;
 			color:green;
 			font-size: 16px;}
 		header {color:green;}
 		header > span:hover {color:red;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		h2 {color:maroon;
 			font-size:30px;
 			text-align:center;
 			font-family: fantasy;}
 		article {font-family: cursive;}
 		ol {color:black;
 			font-family: sans-serif;
 			font-size: 15px;}
 		ul {color:purple;
 			font-family: Serif;
 			font-size: 20px;}
 		.monospace {font-family: monospace;
 			font-style: oblique;
 			color:orange;}
 		.funfact {color:gray;
 			width:700px;
 			text-align: center;
 			margin-bottom: 25px;
 			margin-right:100px;
 			padding: 20px;
 			border-style: double;
 			border-color: red;
 			margin-top: 35px;
 			position: relative;
 			left:350px;}
 		a:link, a:visited{text-decoration: none;
 			color:black;}
 		aside > a:hover {color:blue;
 			border: 2px groove red;
 			font-family: monospace;}
 		#menu {font-size: 15px;
 			line-height: 1em;
 			color:black;
 			width:250px;
 			border: 1px solid blue;
 			margin: 5px;
 			padding: 2px;
 			margin: 10px;
 			margin-bottom: 100px;
 			position: relative;
 			left: 600px;
 			clear: both;}
 		#menu p:nth-child(odd) {background: gray;}
 		#menu > p:hover {color:maroon;
 			cursor: pointer;
 			font-family: monospace;
 			font-size: 20px;
 			font-weight: bold;
 			text-transform:uppercase;}
 		table {width: 100%;
 			padding:2px;
 			margin: 2px;
 			color:magenta;
 			border:2px inset green;
 			border-collapse: collapse;
 			text-align: center;}
 		tr {border: 2px solid green;}
 		td {border: 2px solid green;}
 		th {border: 2px solid green;}
 		aside {color: red;}
 		#Malay {color: teal;
 			font-family: monospace;
 			font-style: italic;}
 		.footer > a:link, a:visited{text-decoration: none;
 			color:black;}	
 		.footer > a:hover {color:blue;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		footer {color:blue;}
 	}	
 	@media(min-width: 992px) and (max-width: 1199px){
 		body {background: #F5F5F5;
 			color:green;
 			font-size: 14px;}
 		header {color:green;}
 		header > span:hover {color:red;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		h2 {color:maroon;
 			font-size:30px;
 			text-align:center;
 			font-family: fantasy;}
 		article {font-family: cursive;}
 		ol {color:black;
 			font-family: sans-serif;
 			font-size: 15px;}
 		ul {color:purple;
 			font-family: Serif;
 			font-size: 20px;}
 		.monospace {font-family: monospace;
 			font-style: oblique;
 			color:orange;}
 		.funfact {color:red;
 			width:300px;
 			text-align: center;
 			margin-bottom: 25px;
 			margin-right:100px;
 			padding: 20px;
 			border-style: double;
 			border-color: red;
 			margin-top: 35px;
 			position: relative;
 			left:300px;}
 		a:link, a:visited{text-decoration: none;
 			color:black;}
 		aside > a:hover {color:blue;
 			border: 2px groove red;
 			font-family: monospace;}
 		#menu {font-size: 15px;
 			line-height: 1em;
 			color:black;
 			width:300px;
 			border: 1px solid blue;
 			margin: 5px;
 			padding: 2px;
 			margin: 10px;
 			margin-right: 100px;
 			margin-bottom: 100px;
 			clear: both;
 			position: relative;
 			left:300px;}
 		#menu p:nth-child(odd) {background: gray;}
 		#menu > p:hover {color:maroon;
 			cursor: pointer;
 			font-family: monospace;
 			font-size: 20px;
 			font-weight: bold;
 			text-transform:uppercase;}
 		table {width: 100%;
 			padding:2px;
 			margin: 2px;
 			color:magenta;
 			border:2px inset green;
 			border-collapse: collapse;
 			text-align: center;}
 		tr {border: 2px solid green;}
 		td {border: 2px solid green;}
 		th {border: 2px solid green;}
 		aside {color: red;}
 		#Malay {color: teal;
 			font-family: monospace;
 			font-style: italic;}
 		.footer > a:link, a:visited{text-decoration: none;
 			color:black;}	
 		.footer > a:hover {color:blue;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		footer {color:blue;}
 	}	
 	@media(max-width: 991px) {
 		body {background: #F5F5F5;
 			color:green;
 			font-size: 12px;}
 		header {color:green;}
 		header > span:hover {color:red;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		h2 {color:maroon;
 			font-size:25px;
 			text-align:center;
 			font-family: fantasy;}
 		article {font-family: cursive;}
 		ol {color:black;
 			font-family: sans-serif;
 			font-size: 15px;}
 		ul {color:purple;
 			font-family: Serif;
 			font-size: 20px;}
 		.monospace {font-family: monospace;
 			font-style: oblique;
 			color:orange;}
 		.funfact {color:blue;
 			width:200px;
 			text-align: center;
 			margin-bottom: 25px;
 			margin-right:100px;
 			padding: 20px;
 			border-style: double;
 			border-color: red;
 			margin-top: 35px;
 			position: relative;
 			left:350px;}
 		a:link, a:visited{text-decoration: none;
 			color:black;}
 		aside > a:hover {color:blue;
 			border: 2px groove red;
 			font-family: monospace;}
 		#menu {font-size: 15px;
 			line-height: 1em;
 			color:black;
 			width:250px;
 			border: 1px solid blue;
 			margin: 5px;
 			padding: 2px;
 			margin: 10px;
 			margin-left: 50px;
 			margin-bottom: 100px;
 			clear: both;
 			position: relative;
 			left:300px;}
 		#menu p:nth-child(odd) {background: gray;}
 		#menu > p:hover {color:maroon;
 			cursor: pointer;
 			font-family: monospace;
 			font-size: 20px;
 			font-weight: bold;
 			text-transform:uppercase;}
 		table {width: 100%;
 			padding:2px;
 			margin: 2px;
 			color:magenta;
 			border:2px inset green;
 			border-collapse: collapse;
 			text-align: center;}
 		tr {border: 2px solid green;}
 		td {border: 2px solid green;}
 		th {border: 2px solid green;}
 		aside {color: red;}
 		#Malay {color: teal;
 			font-family: monospace;
 			font-style: italic;}
 		.footer > a:link, a:visited{text-decoration: none;
 			color:black;}	
 		.footer > a:hover {color:blue;
 			font-family: monospace;
 			font-size: 1.5em;
 			cursor: pointer;}
 		footer {color:blue;}
 	}

 </style>